name: ci
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      PROTOBUF_VERSION: 3.6.1
      RUST_BACKTRACE: full
    steps:
    - name: Checkout sources
      uses: actions/checkout@v2

    - name: Install toolchain
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: nightly
        override: true

    - name: Cache protobuf
      uses: actions/cache@v2
      with:
        path: ~/pb
        key: pb-linux
    - name: Install protobuf
      run: ci/install-protobuf.sh
      shell: bash
    - name: Protoc check
      run: protoc --version
      shell: bash

    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
